* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: montserrat;
}

button {
  font-size: 16px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 20px;
  border: none;
  box-shadow: 2px 2px 100px rgb(0, 0, 0, 0.4);
}

/* Remove Blue Link Highlights on Mobile */
* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;
}
