.apropos {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  min-height: 400px;
}

.img-apropos,
.about {
  width: 50vw;
}

.img-apropos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-apropos img {
  width: 90%;
}

.about h2 {
  margin-bottom: 30px;
  font-size: 35px;
  font-size: "Poppins", sans-serif;
}

.about h2 span {
  color: #084d2b;
}

/* media responsive */

@media (max-width: 750px) {
  .apropos {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 8px;
  }

  .img-apropos,
  .about {
    width: 100vw;
  }

  .about h2 {
    margin-bottom: 10px;
    font-size: 25px;
    text-align: center;
  }

  .about p {
    text-align: center;
    font-size: 16px;
  }
}

@media (max-width: 430px) {
  .about p {
    text-align: center;
    font-size: 14px;
  }
}
